{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "space-before-function-paren": [2, "never"],
    "operator-linebreak": [2, "after"],
    "one-var": 0,
    "generator-star-spacing": [2, "after"],
    "max-len": [1, 100, 2],
    "new-cap": [
      2,
      {
        "newIsCapExceptions": ["create"]
      }
    ],
    "no-trailing-spaces": [2, { "skipBlankLines": true }]
  }
}
